
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Get in Touch</h4>
            <p class="category">Get in touch with us by filling contact form below.</p>
          </div>
          <div class="card-content">
            <form>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Fist Name</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Email address</label>
                    <input type="email" class="form-control" >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Contact no</label>
                    <input type="number" class="form-control" >
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Subject</label>
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Message</label>
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label"> Your Message</label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right">Send</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
          </div>

          <div class="content">
            <h6 class="category text-gray">Eccentric Infotech</h6>
            <h4 class="card-title">Contact Info</h4>
            <address>
              <a href="#pablo" class="btn btn-danger btn-round">CORPORATE OFFICE-PUNE</a><br>
              <!--Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>-->
              Visit us at:<br>
              eccentricinfotech.com<br>
              Box 564, Baner, Pune<br>
              India
            </address>
            <address>
              <a href="#pablo" class="btn btn-danger btn-round">MUMBAI-BRANCH</a><br>
              <!--Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>-->
              Visit us at:<br>
              Plot no.5/6, 9, Basement,<br>
              Seven star Apt, Brahman Soc.,<br>
              Naupada, Thane (W) 400602<br>
              India
            </address>

            <i class="material-icons">call</i> <p><strong>Phone</strong>:(+91)7028901602 /(+91)7028950601</p>
            <p><strong>Landline</strong>: 020-60121601</p>
            <p><strong>Email</strong>: <a href="#">&nbsp;&nbsp;info@eccentricinfotech.com</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
