<div class="head para">
  <h1 >Our Team</h1>
  <p> We are a team of young and dynamic professionals at work. The team is motivated by the fact that everyone on board is a vital part of the Eccentric InfoTech team. Every member is free to innovate and think hence bring their strengths to contribute to the common goal of the company. Team spirit is above hierarchy as we believe a team, together we can do more and better than any individual.</p>
  <p>Our team members include well experienced software professionals, Network Engineers, good faculty and customer service executives. Our Service offerings are structured into various Service Segments </p>
</div>


