
  <div class="welcome">
     <h1> Hello World</h1>
    <h3>Welcome to angular 2 class.</h3>
      <p>Eccentric Infotech is a software development, service provider in the area of software product engineering, enterprise mobility solutions, enterprise content management solutions and customer relationship management solutions. We will analyse your needs and design a solution that meets your requirements. Our goal is to deliver ‘excellent’ services to the customers. Our premium quality software helps to build commercial-grade and enterprise-strength software. We have extensive experience in IT outsourcing; our experts provide quick and valuable solutions for assorted business organizations.</p>
  </div>

