


<div class="container">
  <div class="visible-lg-inline">
          <img [src]="imgt" class="pull-left">
          <div class="source pull-right">

            <ul style="list-style-type: disc" >
              <li>We concentrate on quality software development laying the emphasis on meeting unique business needs of our customers. </li>
              <li>Our professionals whether designers, analysts, developers, software programmers, or quality testers are all qualified, experienced, and experts in their area of work </li>
              <li>Specialized in utilizing these web technologies and open standards in web enabling your enterprise. </li>
              <li>Expertise in Mobile Application Development using various high-end technology and tools. </li>
              <li>specializes in putting a simple interface on the complex processes that make the web work for you. </li>
              <li>IT outsourcing expertise with its BPO/KPO services to deliver a unique model. We quickly automate and digitize your processes. </li>
              <li>We offer the service that let the user access information anywhere-any time. </li>
              <li>Our services are designed to relieve clients of time consuming work, so they can focus their time. energy and resources on higher value added activities. </li>
              <li>Designing and developing a website to rank well in search engine results. </li>
              <li>Increase the awareness of a product, brand or event </li>
              <li>Google AdWords attract more customers </li>
            </ul>
          </div>
  </div>
</div>



